h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    height: 100vh;
}

main{
    padding: 5px;
    background-color: rgb(57, 98, 150);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

div{
    background-color:rgb(190, 205, 219);
    width: 25%;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}
p{
    font-weight: bold;
    color: blue;
}
img{
    background-color: transparent;
    display: flex;
    width: 80px; 
    flex-wrap: wrap;
    
}
@media screen and (max-width:800px){
    main{
        display: flex;
        flex-direction: column;
    }
}

#changes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
}
#changes > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid #fff;
    margin: 20px;
}